[submodule "locust_scripts"]
	path = locust_scripts
	url = https://github.com/jtpgames/Locust_Scripts
[submodule "RAST-Common-Python"]
	path = RAST-Common-Python
	url = https://github.com/jtpgames/RAST-Common-Python.git
[submodule "TeaStore"]
	path = TeaStore
	url = https://github.com/jtpgames/TeaStore
